/* You can add global styles to this file, and also import other style files */

.pointer {
  cursor: pointer;
}

.mb-30px {
  padding-bottom: 30px;
}

.relative {
  position: relative !important;
}

.absolute-input-error {
  position: absolute;
  top: 48px;
}
